@charset "utf-8";
body,document,html{margin:0;height: 100%;overflow: hidden;font-family: "Verdana", "Helvetica", "Arial", "sans-serif";background: #CCC;}
/*login*/
#contenedorLogin{border:1px solid #CCC;position:absolute;left:50%;top:50%;width:400px;height:327px;margin-left:-200px;margin-top:-163.5px;background:#FFF;}
.bienvenido{border:1px solid #CCC;background:#F0F0F0;text-align:center;padding:5px;}
.datosUsuario{border:0px solid #FF0000;height:228px;padding:10px;}
.usuario{border:0px solid #FF0000;text-align:center;font-size:16px;margin-top: 40px;}
.password{border:0px solid #FF0000;text-align:center;font-size:16px;margin-top: 15px;}
.cajasLogin{margin-left:35px;}
.cajaPassword{margin-left:35px;}
.btnLogin{border:0px solid #CCC;background:#FFF;text-align:right;padding:5px;}
/**/
.error{font-size:16px;background:#F78181;color:#B40404;font-weight:bold;padding:10px;text-align:center;}
/*App principal*/
#contenedorApp{border:1px solid #CCC;width:99.3%;margin:3px;height:98%;position: absolute;font-size: 8px;background:#F0F0F0;}
#barraHerramientas{border:1px solid #CCC;width:99.5%;margin:0px 2px 0px 2px;height:59px;overflow:hidden;position: relative;background: #e1e1e1;}
.btnHerramientas{float:left;border:1px solid #CCC;width:63px;height:50px;margin:3px;font-size: 10px;text-align: center;}
.btnHerramientas:hover{background: #F0F0F0;cursor:pointer;}
.imgHerramientas{border:0px solid #FF0000;height:35px;width:96%;}
.btnHerramientasCerrar{float:right;border:1px solid #CCC;width:63px;height:50px;margin:3px;font-size: 10px;text-align: center;}
.btnHerramientasCerrar:hover{background: #F0F0F0;cursor: pointer;}
#contenedorModulos{border:1px solid #CCC;margin:2px;width:99.5%;height:86%;overflow:auto;position:relative;background: #FFF;}
#datosUsuario{float:right;border:1px solid #CCC;width:200px;height:50px;margin:3px;font-size: 10px;text-align: left;}
/*modulo empleados*/
#barraHerramientasEmpleados{border:1px solid #CCC;padding:5px;background:#F0F0F0;}
.btnHerramientasEmpleados{border:0px solid #CCC;width:145px;height:60px;font-size: 10px;padding: 5px;margin-top: -10px;text-decoration: none;color: #000;}
.btnHerramientasEmpleados:hover{border:1px solid #CCC;background: #FFF;cursor: pointer;};
/*usuarios*/
.tabla{background: #FFF;}
.tituloCampo{border:1px solid #CCC;background:#F0F0F0;height: 15px;padding: 5px;}
.tituloCampo2{border-bottom:1px solid #CCC;height: 15px;padding: 5px;}
.leyenda{font-size: 10px;text-align: right;}
.botonesAgregaUsuario{text-align: right;}
.tituloAddUsuarios{text-align:center;font-size:14px;font-weight:bold;height:15px;padding:10px;}
.obligatorio{color: #FF0000;font-size: 12px;}